body{
    text-align: center;
}

header{
    background-color: brown;
}
ul li{
    width: 210px;
    height: 210px;
    display: inline-block;
    background: yellow;
    border-width: medium;
    border-color: blueviolet;
    border-style: ridge;
}