

header{
    background-color: brown;
}
ul li{
    width: 210px;
    height: 210px;
    display: inline-block;
    background: yellow;
    border-width: medium;
    border-color: blueviolet;
    border-style: ridge;
    margin: 10px;
}

.Box{
    width: 1024px;
    border: blueviolet solid medium;
    background-color: aquamarine;
    margin-left:auto;
    margin-right: auto;
}

article .Box{
    margin-top: 30px;
    margin-bottom: 30px;
}

#topBox{
    height:80px;
}

#left{
    position: relative;
    display: inline-block;
    left: -50px;
    top: 10px;
}

#right{
    position: relative;
    display: inline-block;
}